*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	position: relative;
	height: 100%;
	width: 100%;

}

.container {
	position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #868686;background-image:url(bg6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.box-container{
	position: relative;
	height: 95%;
	width: 60%;
	border: solid 2px black;
	box-shadow: 1px 1px 2px 2px dimgray;
	overflow-y: scroll ;
	overflow-x: hidden;


}

form{
	position: relative;
	height: auto;
	width: 100%;
	background: #E4E9F7 ;
	display: flex;
	flex-direction: column;
		
}

/* 10% */

.header-configure{
	position: relative;
	height: 50px;
	width: 100%;
	background: #002755;
	border:  solid 1px black;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header-configure label{
	position: relative;
	margin-left: 1em;
	color: WHITE;
	font-weight: 600;
	font-size: 1.5EM;
	letter-spacing: 2px;
}

.upload-logo-container{
	position: relative;
	width: 100%;
/*	background: yellow;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: .5px dimgray solid;
	
}

.upload-logo-container .logo-label{
	position: relative;
	font-size: 1.5em;
	color: black;
	font-weight: 600;
	margin-bottom: .5em;
	font-family: 'Verdana';
}

.default-img{
	border: solid 1px black;
	height: 8em;
	width: 12em;
	position: relative;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 2px dimgray;
	margin-bottom: 1EM;
}

#btn-upload{
	border: solid 2px black;
	border-radius: 5px;
	width: 14em;
	height: 2.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 2px 2px dimgray;
	color: black ;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 2em;
}

#icon-upload{
	position: relative;
	height: 1.7em;
	width: 1.7em;
	margin-bottom: .3em;
	right: 1em;
	mix-blend-mode: multiply;


}

/*body*/
.register-body{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.register-column{
	position: relative;
	height: 80px;
	width: 100%;
	align-items: center;
	flex-direction: row;
	display: flex;
/*	border-bottom: 1px black solid;*/
}

.register-column label{
	margin-right: 1em;
	font-size: 1em;
	font-weight: 600;
	font-family: 'Verdana';
	margin-left: 2em;
}


.register-column input{
	width: 270px;
	font-size: 1.2em;
	height: 2em;
	padding-left: .5em;
	border-radius: 4px;
}

.register-column select{
		width: 270px;
	font-size: 1.2em;
	height: 2em;
	padding-left: .5em;
	border-radius: 4px;
}

.btn-company-register{
	position: relative;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	
}

.btn-company-register .btn-submit{
	font-size: 1.2em;
	height: 2.2em;
	width: 15em;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
	background: rgba(0, 0, 200, 1.0);
	box-shadow: 1px 1px 2px 2px dimgray;

}