*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html , body{
	position: relative;
	height: 100%;
	width: 100%;
	background-image:url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.container{
	position: relative;
	height: 100%;
	width: 100%;
}
.container .containerforlogin{
	position: relative;
	height: 45%;
	width: 25%;
	background-color: rgba(0,0,0,0.1);
	border: 2px solid black;
	left: 40%;
	top: 25%;
	display: flex;
	border-radius: 24px;
	
}
.containerforlogin form{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	padding: 1px;
	background-color: rgba(0,0,0,0.1);

}
.username{
	position: relative;
	top: -5%;
	left: 5%;
	height: 2rem;
	width: 90%;
	border-radius: 4px;
	padding-left: 1rem; 
	background-color: transparent;
	color: white;
}
.password{
	position: relative;
	top: -2%;
	left: 5%;
	height: 2rem;
	width: 90%;
	border-radius: 4px;
	padding-left: 1rem; 
	background-color: transparent;
	color: white;
}
.subbutton{
	position: relative;
	top: 40%;
	left: 5%;
	height: 2rem;
	width: 90%;
	border-radius: 4px;
	cursor: pointer;
	background-color: transparent;
	color: white;

}
.subbutton:hover{
	background-color: rgba(0,0,0,0.2);
}
.forgotpassword{
	position: absolute;
	right: 4%;
	top: 50%;
	font-size: 10px;
	color: white;
	text-align: right;
	text-decoration: none;
	font-family: Arial;
}
.iconp{
	position: relative;
	width: 20%;
	height: 20%;
	top: -15%;
	left: 40%;
}

.iconuser{
	height: 1.8em;
	width: 1.8em;
}

/* Design for register*/
.container{
	position: relative;
	height: 100%;
	width: 100%;
}
.container .containerforregister{
	position: relative;
	height: 60%;
	width: 30%;
	background-color: rgba(0,0,0,0.1);
	border: 2px solid black;
	left: 40%;
	top: 15%;
	display: flex;
	border-radius: 24px;	
}
.formregister{
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	padding: 1px;
	background-color: rgba(0,0,0,0.1);

}
.text_signup{
	position: relative;
	top: 5%;
	left: 40%;
	font-size: 20px;
}
.txt_firstname{
	position: relative;
	top: 10%;
	left: 3%;
}
.txt_lastname{
	position: relative;
	top: -3%;
	left: 52%;
}
.input_firstname{
	position: relative;
	top: 11%;
	left: 3%;
	height: 2rem;
	width: 45%;
}
.input_lastname{
	position: relative;
	top: -2%;
	left: 52%;
	height: 2rem;
	width: 45%;
}
.txt_email{
	position: relative;
	top: 2%;
	left: 3%;
}
.input_email{
	position: relative;
	top: 3%;
	left: 3%;
	height: 2rem;
	width: 94%;
}
.txt_password{
	position: relative;
	top: 5%;
	left: 3%;
}
.input_password{
	position: relative;
	top: 6%;
	left: 3%;
	height: 2rem;
	width: 94%;
}
.txt_retype_password{
	position: relative;
	top: 8%;
	left: 3%;
}
.input_retype_password{
	position: relative;
	top: 9%;
	left: 3%;
	height: 2rem;
	width: 94%;
}
.registersubbutton{
	position: relative;
	top: 15%;
	left: 3%;
	height: 2rem;
	width: 95%;
	border-radius: 4px;
	cursor: pointer;
	background-color: transparent;
	color: black;

}
.subbutton:hover{
	background-color: rgba(0,0,0,0.2);
}